BOUT.log.*
run.log.*
/diffusion/cyto
/diffusion/data/BOUT.dmp.*.nc
/diffusion/data/BOUT.restart.*.nc
/diffusion/norm.pdf
/wave-1d-y/data/BOUT.dmp.*.nc
/wave-1d-y/data/BOUT.restart.*.nc
/wave-1d-y/norm.pdf
/wave-1d-y/wave
/wave-1d-y/wave.pkl
/wave-1d/data/BOUT.dmp.*.nc
/wave-1d/data/BOUT.restart.*.nc
/wave-1d/wave
/wave-1d/wave_norm.pdf
*.nc
BOUT.settings
*.pdf
/GBS/gbs
/advection/advection
/advection/advection.pkl
/diffusion2/cyto
/elm-pb/elm_pb
/elm-pb/grid8/BOUT.inp
/fieldalign/fieldalign
/fu
/hw/hw
/laplace/laplace
/spatial/advection/advection
/spatial/d2dx2/test_d2dx2
/spatial/d2dz2/test_d2dz2
/spatial/diffusion/diffusion
/spatial/fci/fci_mms
/spatial/fci/fci.grid.nc
/spatial/fci/fci_mms.pkl
/time/time
/tokamak/tokamak
/tokamak/tokamak.pkl
