*~
*.a
*.aux
*.bak
*.bbl
*.blg
*.config
*.d
*.dSYM/
*.ext
*.idx
*.ilg
*.ind
*.log
*.o
*.out
*.pyc
*.status
*.swp
*.toc
.CVS/
.DS_Store
.svn/
.tmtags
autom4te.cache/
aclocal.m4
/bin/bout-config
/src/makefile
/include/pvode
/lib/
/manual/*.pdf
/tools/vagrant/.vagrant
\#*#
.#*
*.132t.vect
*.gcda
*.gcno
bout-coverage/
src/.libfast
.*.mk
*.mo
.BOUT.pid.*
build/
build*/
/.vs
/CMakeSettings.json
/CppProperties.json
*.fls
*.fdb_latexmk

# Following is copied in by configure
src/fmt/format.cxx

# Following is configure-time file
/include/bout/build_config.hxx
/include/bout/revision.hxx
/include/bout/version.hxx
/aminclude_static.am
/include/bout/build_defines.hxx
/tools/pylib/boutconfig/__init__.py
/tests/integrated/test-communications/test-communications
/tests/integrated/test-interpolate-z/test_interpolate
/tests/integrated/test-options-netcdf/fields.nc
/tests/integrated/test-options-netcdf/fields2.nc
/tests/integrated/test-options-netcdf/settings.ini
/tests/integrated/test-options-netcdf/settings.nc
/tests/integrated/test-options-netcdf/test-options-netcdf
/tests/integrated/test-options-netcdf/test-out.ini
/tests/integrated/test-options-netcdf/test-out.nc
/tests/integrated/test-options-netcdf/test.nc
/tests/integrated/test-options-netcdf/time.nc
/tests/integrated/test-yupdown-weights/test_yupdown_weights
