[submodule "externalpackages/git-archive-all.sh"]
	path = externalpackages/git-archive-all.sh
	url = https://github.com/meitar/git-archive-all.sh/
[submodule "mpark.variant"]
	path = externalpackages/mpark.variant
	url = https://github.com/mpark/variant.git
[submodule "externalpackages/fmt"]
	path = externalpackages/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "blt"]
	path = blt
      url = https://github.com/LLNL/blt.git
      branch = release-v0.3.0

