*~
*.a
*.aux
*.bak
*.bbl
*.blg
*.config
*.d
*.dSYM/
*.ext
*.idx
*.ilg
*.ind
*.log
*.o
*.out
*.pyc
*.status
*.swp
*.toc
.CVS/
.DS_Store
.svn/
.tmtags
autom4te.cache/
bin/bout-config
data_*
externalpackages/
include/pvode
lib/
manual/BOUT_Gradperp_op.pdf
manual/coordinates.pdf
manual/developer_manual.pdf
manual/preconditioning.pdf
manual/user_manual.pdf
test*.py
tools/vagrant/.vagrant
