.tmtags
*~
*.pyc
*.[oa]
*.log
*.status
*.config
*.d
*.dSYM/
*.ext
*.bbl
*.blg
*.toc
*.idx
*.aux
*.ilg
*.ind
*.out
autom4te.cache/
include/pvode
lib/
externalpackages/
manual/BOUT_Gradperp_op.pdf
manual/coordinates.pdf
manual/developer_manual.pdf
manual/preconditioning.pdf
manual/user_manual.pdf
bin/bout-config
data_*
test*.py
tools/vagrant/.vagrant
*.o
*.svn/
*.CVS/
*.swp
*.bak
.DS_Store
