[submodule "googletest"]
	path = externalpackages/googletest
	url = https://github.com/google/googletest.git
[submodule "externalpackages/git-archive-all.sh"]
	path = externalpackages/git-archive-all.sh
	url = https://github.com/meitar/git-archive-all.sh/
[submodule "mpark.variant"]
	path = externalpackages/mpark.variant
	url = https://github.com/mpark/variant.git
[submodule "externalpackages/fmt"]
	path = externalpackages/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "externalpackages/boutdata"]
	path = externalpackages/boutdata
	url = https://github.com/boutproject/boutdata.git
[submodule "externalpackages/boututils"]
	path = externalpackages/boututils
	url = https://github.com/boutproject/boututils.git
[submodule "externalpackages/zoidberg"]
	path = externalpackages/zoidberg
	url = https://github.com/boutproject/zoidberg.git
