#*************************************************************************
# Base class for fields
#
#*************************************************************************
# Copyright 2010
#
# This file is part of BOUT++.
#
# BOUT++ is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# BOUT++ is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with BOUT++.  If not, see <http://www.gnu.org/licenses/>.
#
#*************************************************************************/

# We define the following GitLab pipeline variables:
#
# GIT_SUBMODULE_STRATEGY:
# Tells Gitlab to recursively update the submodules when cloning umpire

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - lassen_builds

# These are also templates (.name) that define project specific build commands.
build_on_lassen:
  stage: lassen_builds
  variables:
  tags:
    - shell
    - lassen
  script:
    - echo -e "--- Build BOUT-dev ---"
    - export CMAKE_CONFIG="tests/gitlab/ppc64le-gcc.cmake"
    - . ./tests/gitlab/setup-lassen-gpu.sh
    - lalloc 1 -W 10 -qpdebug tests/gitlab/config-bout-gpu.sh
    - cd build/ppc64le-gcc/BOUT-dev
    - lalloc 1 -W 10 -qpdebug cmake --build . -j
    - echo -e "--- Examples: Hasegawa Wakatani 3d ---"
    - cd examples/hasegawa-wakatani-3d/
    - ./hw -d ${CI_PROJECT_DIR}/examples/hasegawa-wakatani-3d/data
    - lalloc 1 -W 30 -qpdebug mpiexec -n 4 ./hw -d ${CI_PROJECT_DIR}/BOUT-dev/examples/hasegawa-wakatani-3d/data
    - echo -e "--- Examples: Laplace XY, simple hypre ---"
    - cd examples/laplacexy/simple-hypre
    - ./test_laplacexy_hypre -d ${CI_PROJECT_DIR}/examples/laplacexy/simple-hypre/data/
    - lalloc 1 -W 30 -qpdebug mpiexec -n 4 ./test_laplacexy_hypre -d ${CI_PROJECT_DIR}/BOUT-dev/examples/laplacexy/simple-hypre/
