*.dmp.*
*.log.*
*.restart.*
BOUT.settings
/test-cyclic/test_cyclic
/test-delp2/test_delp2
/test-drift-instability/data
/test-drift-instability/2fluid
/test-fieldfactory/test_fieldfactory
/test-griddata/data.*.nc
/test-griddata/test_griddata
/test-gyro/test_gyro
/test-interchange-instability/2fluid
/test-invpar/test_invpar
/test-io/test_io
/test-io_hdf5/test_io_hdf5
/test-laplace/test_laplace
/test-restarting/test_restarting
/test-smooth/test_smooth
/test-subdir/subdirs
/test-vec/log.*
/test-vec/testVec
/test-attribs/test-attribs
/test-ballooning/test_ballooning
/test-command-args/command-args
/test-command-args/test/BOUT.inp
/test-datadir/test
/test-fci-slab/fci.grid.nc
/test-fci-slab/fci_mms.pkl
/test-fci-slab/fci_slab
/test-fieldgroupComm/test
/test-interpolate/test_interpolate
/test-io_hdf5/test_io
/test-multigrid_laplace/test_multigrid_laplace
/test-petsc_laplace/test_petsc_laplace
/test-petsc_laplace_MAST-grid/test_petsc_laplace_MAST_grid
/test-stopCheck/test_stopCheck
/test-yupdown/test_yupdown
/test-coordinates-initialization/test-coordinates-initialization
/test-griddata-yboundary-guards/test_griddata
/test-laplacexz/test-laplacexz
/test-twistshift-staggered/test-twistshift
/test-twistshift/test-twistshift
/test-griddata-yboundary-guards/*/*.nc
/test-options-netcdf/*.nc
/test-options-netcdf/test-options-netcdf
/test-options-netcdf/*.ini
/test-snb/test_snb
/test-communications/test-communications
/test-interpolate-z/test_interpolate
/test-yupdown-weights/test_yupdown_weights
