*.dmp.*
*.log.*
*.restart.*
BOUT.settings
test-cyclic/test_cyclic
test-delp2/test_delp2
test-drift-instability*/data
test-drift-instability*/2fluid
test-fieldfactory/test_fieldfactory
test-griddata/data.*.nc
test-griddata/test_griddata
test-gyro/test_gyro
test-interchange-instability/2fluid
test-invpar/test_invpar
test-io/test_io
test-laplace/test_laplace
test-restarting/test_restarting
test-smooth/test_smooth
test-subdir/subdirs
test-vec/log.*
test-vec/testVec
test
test-fci-slab/fci_slab
test-stopCheck/test_stopCheck