name: black

on:
  push:
    paths:
      - '**.py'
      - 'bin/**'
      - '**/runtest'
      - '**/run'
      - 'tests/integrated/test_suite'
      - 'tests/requirements/*'
      - 'tools/tokamak_grids/**'

defaults:
  run:
    shell: bash

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        ref: ${{ github.head_ref }}

    - name: Install black
      run: |
        sudo apt update -y
        sudo apt -y install python3-pip python3-setuptools python3-wheel
        pip3 install ruff

    - name: Version
      run: |
        python3 --version
        $HOME/.local/bin/ruff --version

    - name: Run black
      run: |
        pwd
        ls
        $HOME/.local/bin/ruff format .

    - uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Apply ruff format changes"
